body {
    margin: 0;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;

}

.background-card {
    width: 90%;
    height: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
    
}

.profile-card {
    background-color: #1f1f1f;
    width: 360px;       
    max-width: 90%;
     min-width: 300px;
    height: auto;
    margin: 2rem 5rem;
    border-radius: 8px;
}

.header-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 0;
    width: 100%;
}

.header-card img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.header-card h2 {
    color: #dad9d9;
    margin: 0.2rem 0; 
}

#card-ubication {
    color: #b4ff47;
    margin: 0.3rem 0 0.5rem;
}

#professional-career {
    color: #dad9d9;
}

.social-media-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem;
    gap: 10px;
    
}

.social-media-card a {
    border: 1px solid white;
    border-radius: 8px;
    background-color: #3b3939;
    text-decoration: none;
    color: white;
    padding: 1rem;
    width: 75%;
    text-align: center;
    font-weight: 600;
}

.social-media-card a:hover {
    background: #b4ff47;
    color: #1f1f1f;
    /* border: 1px solid #1f1f1f; */
    box-shadow: -0.3rem 0.3rem 0.2rem rgba(255, 255, 255, 0.3);
}



